@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/*header design*/
*{
    margin: 0;
    padding: 5px;
}
.banner-section{
    max-width: 1340px;
    height: 600px;
    
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    
    
}
body{
    font-family: Merriweather;
}
.banner-section .banner-content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    font-size: 25px;
}

.part-2{
     
     width: 600px;
     margin: 0 auto;
     height: 600px;
     margin-top: 50px;
     height: 665px;
     gap: 0px;

}
.main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-text h1{
    color: #FF0000;
    font-family:Inter;
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}
.main-text p{
    color: #FF0000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}
.main-text h2{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 30px;
}
.main-image{
    height: 270px;
    width: 600px;
}
.main-image img{
    height: 400px;
    width: 600px;
    padding-top: 10px;
}
